/* Type whatever CSS you need here! */

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.nameTagTop {
  color: white;
  background-color: blue;
  width: 25vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameTagBottom {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.containerStudents {
  border: 1px solid black;
}

.parent {
  border: 1px solid black;
  text-align: center;
  width: 25vw;
}

.student {
  border: 1px solid black;
  margin: 16px;
  background-color: greenyellow;
}

.student-green {
  background-color: greenyellow;
}

.student-red {
  background-color: red;
}

.name {
  font-size: 26px;
}

.size {
  width: 75px;
  height: 150px;
  padding: 0 5px;
}

.restaurant {
  display: flex;
  border: 1px solid black;
  padding: 20px;
}

.restFormat {
  margin: 5px;
  padding
  background-color: lightcyan;
}